<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.mathfactory">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <provider
                android:authorities="com.mydomain.fileprovider"
                android:name="android.support.v4.content.FileProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity android:name=".call">
        </activity>
        <activity android:name=".Function10">
        </activity>
        <activity android:name=".Function9">
        </activity>
        <activity android:name=".Start_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Profilo_Utente">
        </activity>
        <activity android:name=".Function0">
        </activity>
        <activity android:name=".Grafici">
        </activity>
        <activity android:name=".Function8">
        </activity>
        <activity android:name=".Function7">
        </activity>
        <activity android:name=".Function6">
        </activity>
        <activity android:name=".Function5">
        </activity>
        <activity android:name=".Function4">
        </activity>
        <activity android:name=".Function3">
        </activity>
        <activity android:name=".Function2">
        </activity>
        <activity android:name=".Function1">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>